/*mobile*/

.settings {
  float: right;
  width: 10%;
  top: 0;
}

.settings-container {
  line-height: 2em;
  margin-top: 10%;
  height: 0;
  transition: height 0.2s ease-out;
  -moz-transition: height 0.2s ease-out;
  background-color: #EEE;
  overflow: hidden;
}

.setcon {
  max-height: 0;
  line-height: 2em;
  margin-top: 10%;
  background-color: #EEE;
  border-radius: 0.5em;
  overflow: hidden;
}

.settings-container-enter {
  max-height: 0;
  opacity: 0;
}

.settings-container-enter-active,.settings-container-enter-done {
  max-height: 50vh;
  opacity: 1;
  transition: max-height 0.5s ease-out, opacity 0.1s ease-out;
  -moz-transition: max-height 0.5s ease-out, opacity 0.1s ease-out;
}

.settings-container-exit {
  max-height: 30vh;
  opacity: 1;
}

.settings-container-exit-active, .settings-container-exit-done  {
  max-height: 0;
  opacity: 0;
  transition: max-height 0.2s ease-out, opacity 0.8s ease-out;
  -moz-transition: max-height 0.2s ease-out, opacity 0.8s ease-out;
}

.nav-container {
  bottom: 0;
  display: flex;
  position: absolute;
  width: 100%;
  background: #EFEFEF;

}

.nav-item {
  flex: 1 0 0;
  font-size: 1.2em;
}

.nav-modal-container {
  margin: 15% 8% 2% 8%;

}

.playmode-btn-container {
  display: flex;
}

.playmode-sp-btn {
  display: flex;
  flex-direction: column;
  background: #D0E322;
  flex-grow: 1;
  padding: 2% 0;
}

.playmode-mp-btn {
  display: flex;
  flex-direction: column;
  background: #22E3D0;
  flex-grow: 1;
    padding: 2% 0;
}

.playmode-config {
  overflow: hidden;
  background: #FFF3E3;
  padding: 0 5%;
  height: 50vh;
}

.playmode-config-mp {
  max-height: 0;
  overflow: hidden;
  background: #FFF3E3;
  padding: 0 5%;
}

.playmode-container-enter {
  max-height: 0;
}

.playmode-container-enter-active,.playmode-container-enter-done {
  max-height: 80vh;
}

.playmode-container-enter {
  max-height: 80vh;
}

.playmode-container-exit-active,.playmode-container-exit-done {
  max-height: 0;
}

.mp-options {
  display: flex;
  flex-direction: column;
  height: 50vh;
  padding: 3% 0;
}

.mp-options > div {
  flex: 1 0 0;
}

@media only screen and (max-width: 415px) {}

/*tablet*/
@media only screen and (min-width: 416px) and ((max-width: 960px)) {}


@media only screen and (min-width: 961px) {}
