.Leap-header {
    background-color: #282c34;
    max-height: 12vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(1em + 2vmin);
    color: white;
}

.game-container {
  height: 60vh;
  display: flex;
  transition-duration: 0.8s;
  transition-property: transform;
}

.game-options {
  flex-grow: 1;
}

.game-menu {
  flex-grow: 1;
}

.board {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.row {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  justify-content: center;
}

.cell {
  height: auto;
  flex: 1 0 auto;
  display: inline-block;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin: 2px;
  padding: 1%;
}

.gray1 {
  background-color: #f5f5f5;
}

.gray2 {
  background-color: #f0f0f0;
}

.pink {
  background-color: #ff99cc;
}

.red {
  background-color: #ee4444;
}

.orange {
  background-color: #ee9900;
}

.yellow {
  background-color: #eeee44;
}

.green {
  background-color: #44e944;
}

.blue {
  background-color: #4444e9;
}

.player-one {
  background-color: white;
  border-radius: 50%;
  border: 2px ridge black;
  height: 100%;
}

.player-two {
  background-color: black;
  border-radius: 50%;
  border: 2px ridge white;
  height: 100%;
}

.highlight {
  background-color: #4444ee;
  opacity: 0.8;
}

.selected {
  background-color: #6666ee;
}
